input {
  border: 0;
  outline: 0;
}
.textInput {
  padding: 1em;
  margin-bottom: 1em;
  width: 25em;
  color: red;
  font-weight: bold;
}
.btnSubmit {
  padding: 1em;
  margin-bottom: 1em;
  width: 27em;
  color: #fff;
  background-color: red;
  font-weight: bold;
  border: 0;
  outline: 0;
}
.error {
  border: solid 1px red;
}
.errorMsg {
  background-color: red;
  color: #fff;
  padding: 4px;
  font-size: 12px;
  border-radius: 5px;
}
